<div class="ibox-content">
    <form role="form" class="form-inline">
        <div class="form-group">
            <label>Banner名称:</label><input type="text" id="name" class="form-control">
            <div class="form-group">
                <label>显示位置</label>
                <select style="width:130px;height:33px" class="form-control" id="position">
                   <option value="">请选择</option>
                    #foreach($item in $!{positionType.entrySet()})
                        <option value="$!{item.key}">$!{item.value}</option>
                    #end
                </select>
             </div>
            <div class="form-group">
                <label>状态</label>
                <select style="width:130px;height:33px" class="form-control" id="status">
                   <option value="">请选择</option>
                   <option value="1">启用</option>
                   <option value="0">禁用</option>
                </select>
             </div>
            <button class="btn btn-white" type="button" onclick="searchList('1')"><i class="glyphicon glyphicon-search"></i>查询</button>
            <button class="btn btn-success" type="button" onclick="edit()"><i class="glyphicon glyphicon-plus"></i>新建</button>
        </div>
    </form>
  </div>
  <div class="jqGrid_wrapper">
        <table id="table_list_1"></table>
        <div id="pager_list_1"></div>
   </div>
 <script>
  function searchList(page){
       $("#table_list_1").jqGrid('setGridParam',{
            url:'listjson.html?'+getParams(),
            page:page
       }).trigger("reloadGrid");
   }
   function getParams(){
      var name=$("#name").val();
      var position=$("#position").val();
      var status=$("#status").val();
      return "name="+name+"&position="+position+"&status="+status;
   }
   $(document).ready(function () {
       $.jgrid.defaults.styleUI = 'Bootstrap';
       $('#table_list_1').jqGrid({
              url:'listjson.html?'+getParams(),
              datatype: "json",
              height: jqGridHeight,
              autowidth: true,
              shrinkToFit: true,
              viewrecords:true,
              rowNum: 20,
              rowList: [20, 30, 50],
              viewrecords : true,
              colNames: ['Banner名称','显示位置','可见渠道类型','有效期','排序号','状态','创建时间','操作'],
              colModel: [
                 {
                   name: 'name',
                   width: 10
                 },
                 {
                     name: 'positionName',
                     width: 10
                 },
                 {
                    name: 'channelTypeName',
                    width: 10
                 },
                 {
                       name: 'validAtStr',
                       width: 12
                  },
                  {
                      name: 'orderNo',
                      width: 10
                   },
                  {
                     name:'status',
                     width:10,
                     formatter : function(value, options, rowObject) {
                         if("1" == value){
                            return "启用";
                         }else{
                            return "禁用";
                         }
                      }
                   },
                  {
                    name: 'createdAtStr',
                    width: 12
                  },
                  {
                   name:'',
                   width:10,
                   formatter : function(value, options, rowObject) {
                       return '<a href="javascript:void(0)" onclick="edit(\'' + rowObject.bannerId + '\')" class="btn btn-primary" ><i class="glyphicon glyphicon-pencil"></i>编辑</a>';
                    }
                  }
              ],
              pager: "#pager_list_1"
         });
   });
 function edit(bannerId){
   layer.open({
     type: 2,
     area: ['900px', '420px'],
     fixed: false,
     title: '编辑banner',
     maxmin: true,
     content: 'editBanner.html?bannerId='+bannerId
    });
  }
</script>
</html>