<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">
                <form id="userinfoForm" class="form-horizontal" method="post" action="addUser.html">
                    <input type="hidden" value="ADVERT" name="user.userCatalog">
                    <input type="hidden" id="certifCertifNo" name="certif.certifNo">
                    <input type="hidden" id="certifCertifName" name="certif.certifName">
                    <input type="hidden" id="detailCardUser" name="detail.cardUser">
                    <input type="hidden" id="userRealname" name="user.realName">
                    <input type="hidden" name="user.appCode" value="MARKETIN">
                    <input type="hidden" id="partnerName" name="partner.name">
                    <input type="hidden" id="partnerType" value="1" name="partner.type">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">身份类型</label>
                        <div class="col-sm-8">
                            <select data-placeholder="身份类型" name="user.userRole" id="userRole" class="form-control" >
                                <option value="PERSON" hassubinfo="true" selected="selected">个人</option>
                                <option value="BUSI" hassubinfo="true">企业</option>
                            </select>
                        </div>
                        <input type="hidden" value="1" id="userCertifType" name="certif.certifType">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">用户名</label>
                        <div class="col-sm-8">
                            <input type="text" name="user.userName" required="required" placeholder="用户名"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">手机号码</label>
                        <div class="col-sm-8">
                            <input type="text" name="user.userPhone" required="required" placeholder="手机号码"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group forPerson">
                        <label class="col-sm-3 control-label">姓名</label>
                        <div class="col-sm-8">
                            <input type="text" id="realname"  placeholder="姓名"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group forBusi">
                        <label class="col-sm-3 control-label">联系人姓名</label>
                        <div class="col-sm-8">
                            <input type="text" name="detail.linkMan" placeholder="联系人姓名"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group forBusi">
                        <label class="col-sm-3 control-label">公司名称</label>
                        <div class="col-sm-8">
                            <input type="text" id="companyName" placeholder="公司名称"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group forBusi">
                        <label class="col-sm-3 control-label">法人姓名</label>
                        <div class="col-sm-8">
                            <input type="text" name="certif.certifOwn" placeholder="法人姓名"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group forBusi">
                        <label class="col-sm-3 control-label">身份证号码</label>
                        <div class="col-sm-8">
                            <input type="text" name="certif.certifOwnLicense" placeholder="法人身份证号码"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group forBusi">
                        <label class="col-sm-3 control-label">法人身份证图片</label>
                        <div class="col-sm-8">
                            <input type="hidden" id="certifOwnLicenseImg1Value" name="certif.certifOwnImgs"
                                   value="$!{entity.img}">
                            <img src="" style="height:200px;width:300px;display:none"  id="certifOwnLicenseImg1Div"/>
                            <input type="file" id="certifOwnLicenseImg1" name="file" lay-ext="jpg|png|gif|jpeg"
                                   lay-type="images" lay-title="身份证正面" class="layui-upload-file">
                            <input type="hidden" id="certifOwnLicenseImg2Value" name="certif.certifOwnImgs"
                                   value="$!{entity.img}">
                            <img src="" style="height:200px;width:300px;display:none"  id="certifOwnLicenseImg2Div"/>
                            <input type="file" id="certifOwnLicenseImg2" name="file" lay-ext="jpg|png|gif|jpeg"
                                   lay-type="images" lay-title="身份证反面" class="layui-upload-file">
                        </div>
                    </div>
                    <div class="form-group forPerson">
                        <label class="col-sm-3 control-label">身份证号码</label>
                        <div class="col-sm-8">
                            <input type="text" id="userLicense" placeholder="身份证号码"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group forPerson">
                        <label class="col-sm-3 control-label">身份证图片</label>
                        <div class="col-sm-8">
                            <input type="hidden" name="certif.certifImgs" id="userLicenseImg1Value">
                            <img src="" style="height:200px;width:300px;display:none" id="userLicenseImg1Div"/>
                            <input type="file" id="userLicenseImg1" name="file" lay-ext="jpg|png|gif|jpeg"
                                   lay-type="images" lay-title="身份证正面" class="layui-upload-file">

                            <input type="hidden" name="certif.certifImgs" id="userLicenseImg2Value">
                            <img src="" style="height:200px;width:300px;display:none" id="userLicenseImg2Div"/>
                            <input type="file" id="userLicenseImg2" name="file" lay-ext="jpg|png|gif|jpeg"
                                   lay-type="images" lay-title="身份证反面" class="layui-upload-file">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">地址</label>
                        <div class="col-sm-8">
                            <input type="text" name="detail.address" id="address" placeholder="地址"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">商务人员</label>
                        <div class="col-sm-8">
                            <select data-placeholder="商务人员" name="user.promoterId" id="userPromoterId" class="form-control" >
                                #foreach(${_promoter} in ${promoterList})
                                <option value="$!{_promoter.value}" hassubinfo="true" >
                                    $!{_promoter.name}
                                </option>
                                #end
                            </select>
                            <input type="hidden" id="userPromoterName" name="user.promoterName">
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label class="col-sm-3 control-label">状态</label>
                        <div class="col-sm-8">
                            <select data-placeholder="状态" name="user.userStatus" class="form-control">
                                #foreach(${_status} in ${statusList})
                                <option value="$!{_status.value}" hassubinfo="true" >
                                    $!{_status.name}</option>
                                #end
                            </select>
                        </div>
                    </div>-->
                    <div class="forBusi">
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">银行名称</label>
                            <div class="col-sm-8">
                                <input type="text" name="detail.cardBank" placeholder="银行名称"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">银行账号</label>
                            <div class="col-sm-8">
                                <input type="text" name="detail.cardNumber" placeholder="银行账号"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">开户行</label>
                            <div class="col-sm-8">
                                <input type="text" name="detail.cardBankAddr" placeholder="开户行"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公司名称</label>
                            <div class="col-sm-8">
                                <input type="text" placeholder="公司名称" id="copyCompanyName"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">社会信用号码</label>
                            <div class="col-sm-8">
                                <input type="text" id="companyLisence" placeholder="社会信用号码"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">社会信用证件图片</label>
                            <div class="col-sm-8">
                                <input type="hidden" name="certif.certifImgs" id="companyLisenceImgValue">
                                <img src="" style="height:200px;width:300px;display:none" id="companyLisenceImgDiv"/>
                                <input type="file" id="companyLisenceImg" name="file" lay-ext="jpg|png|gif|jpeg"
                                       lay-type="images" lay-title="上传执照" class="layui-upload-file">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">地址</label>
                            <div class="col-sm-8">
                                <input type="text" id="copyCompanyAddr" name="certif.certifAddr" placeholder="地址"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">电话</label>
                            <div class="col-sm-8">
                                <input type="text" name="detail.linkPhone" placeholder="电话"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                    <div align="center">
                        <button class="btn btn-sm btn-success" type="button" onclick="submitForm('userinfoForm')"><i class="glyphicon glyphicon-ok"></i>保存</button>
                        <button class="btn btn-sm btn-white" type="button" onclick="parent.closeLayer()"><i class="glyphicon glyphicon-remove"></i>返回</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $("#realname").change(function(){
        $("#certifCertifName").val($(this).val());
        $("#detailCardUser").val($(this).val());
        $("#userRealname").val($(this).val());
        $("#partnerName").val($(this).val());
    });
    $("#companyLisence, #userLicense").change(function(){
        $("#certifCertifNo").val($(this).val());
    });
    $("#companyName").change(function(){
        $("#certifCertifName").val($(this).val());
        $("#detailCardUser").val($(this).val());
        $("#copyCompanyName").val($(this).val());
        $("#partnerName").val($(this).val());
    });
    $("#userPromoterId").change(function(){
        var text=$("#userPromoterId").find("option:selected").text().trim();
        $("#userPromoterName").val(text);
    });
    $("#address").change(function(){
        $("#copyCompanyAddr").val($("#address").val());
    });
    $("#userRole").change(function(){
        var roleType = $("#userRole").val();
        if(roleType=='BUSI'){
            $("#userCertifType").val(2);
            $(".forBusi").show();
            $(".forPerson").hide();
        } else {
            $("#userCertifType").val(1);
            $(".forBusi").hide();
            $(".forPerson").show();
        }
    });
    $("#userRole").change();
});
function submitForm(formId){
    var form=$("#"+formId)
    var formData = form.serialize();
    //formData = formData + "&";
    $.ajax({
        type: "POST",
        url:form.attr("action"),
        dataType:"json",
        data:formData,
        success: function(data) {
            if(data.code == 1){
               parent.searchList();
               parent.closeLayer(data.msg);
            }else{
               parent.layer.msg(data.msg,failIcon);
            }
        },
        error: function(data){
            parent.layer.msg(data, failIcon);
        }
    });
}
layui.use('upload', function(){
    layui.upload({
    url:  '${rc.contextPath}/upload/uploadFile.html?uploadPath=certif/img',
    method: 'post',
    success: function(res, input){
        if(res.code == 1){
            $("#" + input.id + "Value").val(res.data.id);
            $("#" + input.id + "Div").prop('src',res.data.value);
            $("#" + input.id + "Div").show();
         }else{
           parent.layer.msg(res.msg,failIcon);
         }
      }
    });
});
 </script>