<script src="${rc.contextPath}/_resources/js/clipboard.min.js?v=2.1.4"></script>
<div class="ibox-content">
    <form role="form" class="form-inline">
        <div class="form-group">
            <label>渠道编号:</label><input type="text" id="channelCode" class="form-control">
            <label>渠道主账号:</label><input type="text" id="userName" class="form-control">
            <label>广告名称:</label><input type="text" id="advertName" class="form-control">
            <label>子广告名称:</label><input type="text" id="advertMaName" class="form-control">
        </div>
        <br><br>
        <div class="form-group">
             <label>状态</label>
             <div class="input-group">
              <select class="form-control" id="status">
                  <option value="">请选择</option>
                   #foreach($item in $!{status.entrySet()})
                  <option value="$!{item.key}">$!{item.value}</option>
                   #end
              </select>
            </div>
            <label>创建时间</label>
            <input class="form-control layer-date" id="startDate" placeholder="开始时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})">
            <input class="form-control layer-date" id="endDate" placeholder="结束时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})">
            <button class="btn btn-white" type="button" onclick="searchList('1')"><i class="glyphicon glyphicon-search"></i>查询</button>
            <button class="btn btn-info" type="button" onclick="exportData()"><i class="glyphicon glyphicon-export"></i>导出</button>
        </div>
    </form>
  </div>
  <div class="jqGrid_wrapper">
        <table id="table_list_1"></table>
        <div id="pager_list_1"></div>
  </div>
 <script>
  function searchList(page){
       $("#table_list_1").jqGrid('setGridParam',{
            url:'pkgjson.html?'+getParams(),
            page:page
       }).trigger("reloadGrid");
   }
   function getParams(){
      var channelCode=$("#channelCode").val();
      var userName=$("#userName").val();
      var advertName=$("#advertName").val();
      var advertMaName=$("#advertMaName").val();
      var status=$("#status").val();
      var startDate=$("#startDate").val();
      var endDate=$("#endDate").val();
      if("" != endDate){
        endDate = endDate + ' 23:59:59';
      }
      return "channelCode="+channelCode+"&userName="+userName+"&advertName="+advertName+"&advertMaName="+advertMaName+"&status="+status+"&startDate="+startDate+"&endDate="+endDate;
   }
   $(document).ready(function () {
       var clipboard = new Clipboard('.btn');
       clipboard.on('success', function(e) {
           layer.msg("复制成功");
       });
       clipboard.on('error', function(e) {
           layer.msg("复制失败");
       });
       $("#startDate").val(laydate.now(-7));
       $("#endDate").val(laydate.now());
       $.jgrid.defaults.styleUI = 'Bootstrap';
       $('#table_list_1').jqGrid({
              url:'pkgjson.html?'+getParams(),
              datatype: "json",
              height: jqGridHeight,
              autowidth: true,
              shrinkToFit: true,
              viewrecords:true,
              rowNum: 20,
              rowList: [20, 30, 50],
              colNames: ['渠道编号','三方渠道编号','渠道主账号','广告名称','子广告名称','渠道包大小','状态','备注','创建时间','操作'],
              colModel: [
                 {
                   name: 'channelCode',
                   width: 12
                 },
                  {
                    name: 'channelCodeOut',
                    width: 12
                 },
                 {
                    name: 'userName',
                    width: 10
                 },
                 {
                       name: 'advertName',
                       width: 10
                  },
                  {
                      name: 'advertMaName',
                      width: 10
                  },
                  {
                        name: 'size',
                        width: 10
                    },
                  {
                     name:'statusName',
                     width:10
                   },
                   {
                    name:'remark',
                    width:14
                  },
                  {
                    name: 'createdAtStr',
                    width: 14
                  },
                  {
                   name:'opt',
                   width:10,
                   formatter : function(value, options, rowObject) {
                      if(rowObject.updateState == "1"){
                         return '<a href="javascript:void(0)" onclick="updatePackage(\'' + rowObject.advChPkgId + '\')" class="btn btn-danger">更新渠道包</a>';
                      }else if(rowObject.status == "2"){//渠道包地址无法隐藏，否则无法复制
                         return '<a href="javascript:void(0)" data-clipboard-text=\'' + rowObject.downloadUrl + '\' class="btn btn-success">复制链接</a>';
                      }else if(rowObject.status == "3"){
                           return '<a href="javascript:void(0)" onclick="updatePackage(\'' + rowObject.advChPkgId + '\')" class="btn btn-primary">重新打包</a>';
                      }else{
                         return "";
                      }
                    }
                  }
              ],
             pager: "#pager_list_1"
         });
   });
   function updatePackage(pkgId){
        $.ajax({
           type: "POST",
           dataType:"json",
           url:"updatePkg.html?pkgId="+pkgId,
           success: function(data) {
              if(data.code == 1){
                 searchList();
               }else{
                 layer.msg(data.msg);
               }
           }
       });
     }
    function exportData(){
       window.location.href="export.html?"+getParams();
    }
</script>
</html>