<link href="${rc.contextPath}/_resources/css/bootstrap-select.css" rel="stylesheet">
<script src="${rc.contextPath}/_resources/js/bootstrap-select.js"></script>
<div class="ibox-content">
   <form class="form-horizontal" id="form1">
         <div class="form-group">
             <label class="col-sm-3 control-label">渠道名称：</label>
             <div class="col-sm-8">
                 <input type="hidden" name="channelId" value="$!{entity.channelId}">
                 <input type="text" class="form-control" name="channelName" value="$!{entity.channelName}" style="width:400px">
             </div>
         </div>
         <div class="form-group">
             <label class="col-sm-3 control-label">渠道主账号：</label>
             <div class="col-sm-8" style="width:430px">
              <select name="userId" class="selectpicker show-tick form-control" data-live-search="true">
                 #foreach($item in ${users})
                    #if($!{entity.userId} == $!{item.userId})
                       <option value="$!{item.userId}" selected="selected">$!{item.userName}</option>
                     #else
                       <option value="$!{item.userId}">$!{item.userName}</option>
                     #end
                  #end
              </select>
           </div>
         </div>
         <div class="form-group">
              <label class="col-sm-3 control-label">状态：</label>
              <div class="col-sm-8">
                  <select style="width:400px;height:30px"  name="status">
                       <option value="1" #if($!entity.status == 1) selected="selected" #end>启用</option>
                       <option value="0" #if($!entity.status == 0) selected="selected" #end>禁用</option>
                  </select>
              </div>
          </div>
        <div align="center">
           <button class="btn btn-success" type="button" onclick="saveChannel()"><i class="glyphicon glyphicon-ok"></i>保存</button>
           <button class="btn btn-white" type="button" onclick="parent.closeLayer()"><i class="glyphicon glyphicon-remove"></i>返回</button>
        </div>
     </form>
 </div>
 <script>
  function saveChannel(){
     $.ajax({
        type: "POST",
        url:"updateChannel.html",
        dataType:"json",
        data:$('#form1').serialize(),
        success: function(data) {
           if(data.code == 1){
               parent.searchList();
               parent.closeLayer(data.msg);
            }else{
              parent.layer.msg(data.msg,failIcon);
            }
        }
    });
  }
</script>
</html>