<script src="${rc.contextPath}/_resources/js/plugins/layer/laydate/laydate.js"></script>
<div class="ibox-content">
    <form role="form" class="form-inline" id="salesmanForm">
        <div class="form-group">
            <label>业务员名称</label>:</label><input type="text" id="realName" name="realName" class="form-control">
            <label>时间范围</label>
            <input class="form-control layer-date" id="startDate" name="startDate" placeholder="开始时间" value="$!{startDate}" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})">
            <input class="form-control layer-date" id="endDate" name="endDate" placeholder="结束时间" value="$!{endDate}" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})">
        </div>
        <button class="btn btn-white" type="button" onclick="searchList('1')"><i class="glyphicon glyphicon-search"></i>查询</button>
        <button class="btn btn-info" type="button" onclick="exportList()"><i class="glyphicon glyphicon-export"></i>导出</button>
        <button class="btn btn-success" type="button" onclick="syn()"><i class="glyphicon glyphicon-refresh"></i>计算数据</button>
    </form>
</div>
<div class="jqGrid_wrapper ">
    <table id="table_list_1"></table>
    <div id="pager_list_1"></div>
</div>
<script>
    function exportList(){
        window.open("exportList.html?" + $('#salesmanForm').serialize());
    }
    function searchList(page){
         $("#table_list_1").jqGrid('setGridParam',{
              url:'list.html?'+getParams(),
              page:page
         }).trigger("reloadGrid");
    }
    function getParams(){
        var realName=$("#realName").val();
        var startDate=$("#startDate").val();
        var endDate=$("#endDate").val();
        return "realName="+realName+"&startDate="+startDate+"&endDate="+endDate;
    }
    function syn() {
        var startDate=$("#startDate").val();
        var endDate=$("#endDate").val();
        layer.confirm('确认统计数据？',{icon: 3, title:'统计数据'}, function(){
           $.ajax({
             type: "POST",
             url:"syn.html?startDate=" + startDate + "&endDate=" + endDate,
             dataType:"json",
             success: function(data) {
                if(data.code == 1){
                   searchList();
                   parent.closeLayer(data.msg);
                }else{
                   layer.msg(data.msg,failIcon);
                }
             }
           });}, function(){
             layer.closeAll();
           }
       );
    }
   $(document).ready(function () {
       $.jgrid.defaults.styleUI = 'Bootstrap';
       $("#startDate").val(laydate.now(-7));
       $("#endDate").val(laydate.now());
       $('#table_list_1').jqGrid({
              url:'list.html?'+getParams(),
              datatype: "json",
              height: jqGridHeight-50,
              autowidth: true,
              shrinkToFit: true,
              rowNum: 20,
              rowList: [20, 30, 50],
              viewrecords : true,
              footerrow : true,
              userDataOnFooter : true,
              colNames: ['业务员','广告数量','渠道数量','广告销售额','渠道推广额'],
              colModel: [
                 {
                    name: 'realName',
                     sortable: false
                 },
                 {
                    name: 'advertNum',
                 },
                 {
                    name: 'channelNum',
                  },
                 {
                    name: 'advertSalesAmount',
                 },
                  {
                    name: 'channelPromotionAmount',
                  }
              ],
               sortable:true,
               sortorder:'desc',
               pager: "#pager_list_1"
         });
   });
</script>
</html>