<div class="ibox-content">
    <form role="form" class="form-inline">
        <div class="form-group">
            <label>指标类型:</label>
               <select style="width:400px;height:30px"  name="type"  id="type">
                  <option value="" >请选择指标类型</option>
                   <option  value="BASIC">简单指标</option>
                   <option  value="COMPOSITE">复合指标</option>
                </select>
        </div>
          <div class="form-group">
                    <label>指标名称:</label>
                    <input type="text" class="form-control" id="quotaDisplayName" name="quotaDisplayName"  style="width:400px">
         </div>
        <br><br>
        <div class="form-group">
           <button class="btn btn-white" type="button" onclick="searchList('1')"><i class="glyphicon glyphicon-search"></i>查询</button>
            <button class="btn btn-success" type="button" onclick="add()"><i class="glyphicon glyphicon-plus"></i>创建复合指标</button>
        </div>
    </form>
  </div>
  <div class="jqGrid_wrapper">
        <table id="table_list_1"></table>
        <div id="pager_list_1"></div>
   </div>
 <script>
  function searchList(page){
       $("#table_list_1").jqGrid('setGridParam',{
            url:'listjson.html?'+getParams(),
            page:page
       }).trigger("reloadGrid");
   }
   function getParams(){
      var quotaDisplayName=$("#quotaDisplayName").val();
      var type=$("#type").val();
      return "quotaDisplayName="+quotaDisplayName+"&type="+type;
   }
   $(document).ready(function () {
       $.jgrid.defaults.styleUI = 'Bootstrap';
       $('#table_list_1').jqGrid({
              url:'listjson.html?'+getParams(),
              datatype: "json",
              height: jqGridHeight,
              autowidth: true,
              shrinkToFit: true,
              viewrecords:true,
              rowNum: 20,
              rowList: [20, 30, 50],
              viewrecords : true,
              colNames: ['指标名称','指标类型','展示类型','状态','修改人','修改时间','创建者','创建时间','操作'],
              colModel: [
                   {
                     name: 'quotaDisplayName',
                     width: 10
                   },
                  {
                     name: 'type',
                     width: 10,
                     formatter : function(value, options, rowObject) {
                         if(value == 'BASIC'){
                             return "简单指标";
                         }else if(value== 'COMPOSITE'){
                            return "复合指标";
                         }else{
                            return "";
                         }
                     }
                   },
                 {
                   name: 'showType',
                   width: 10,
                   formatter : function(value, options, rowObject) {
                                if(value == 'NUM'){
                                   return "数量";
                                }else if(value== 'MONEY'){
                                   return "金额";
                                }else if(value == 'PERCENT'){
                                   return "比例";
                                }else{
                                  return "";
                                }
                            }
                 },
                 {
                    name: 'state',
                    width: 10,
                     formatter : function(value, options, rowObject) {
                            if(value == '1'){
                               return "生效";
                            }else{
                              return "失效";
                            }
                        }
                 },
                  {
                       name: 'updateUserName',
                       width: 10
                   },
                   {
                          name: 'updatedAtEnd',
                          width: 10
                    },
                  {
                       name: 'createUserName',
                       width: 10
                  },
                  {
                    name: 'createdAtStart',
                    width: 10
                  },
                  {
                   name:'quotaCode',
                   width:15,
                   formatter : function(value, options, rowObject) {
                        var b = '';
                        if(rowObject.type == 'BASIC'){
                          b = b+'<a href="javascript:void(0)" onclick="basicedit(\'' + value + '\')" class="btn btn-primary" ><i class="glyphicon glyphicon-pencil"></i>编辑</a>';
                        }
                        if(rowObject.type == 'COMPOSITE'){
                          b = b+'<a href="javascript:void(0)" onclick="edit(\'' + value + '\')" class="btn btn-primary" ><i class="glyphicon glyphicon-pencil"></i>编辑</a>';
                          b =b+ '&nbsp;&nbsp;<a onclick="delQuota(\'' + rowObject.quotaCode + '\')" class="btn btn-danger "><i class="glyphicon glyphicon-remove"></i>删除</a>';
                        }
                        return b;
                    }
                  }
              ],
              pager: "#pager_list_1"
         });
   });
     function edit(quotaCode){
        var width = (document.body.clientWidth-220)+"px";
      layer.open({
       type: 2,
       area: [width, '100%'],
       offset: ['0px', '220px'],
       fixed: false,
       maxmin: true,
       content: 'toEdit.html?quotaCode='+quotaCode
      });
      }
      function basicedit(quotaCode){
            layer.open({
               type: 2,
               area: ['800px', '400px'],
               fixed: false,
               maxmin: true,
               content: 'toBasicQuotaEdit.html?quotaCode='+quotaCode
            });
      }
     function add(){
              var width = (document.body.clientWidth-220)+"px";
              layer.open({
               type: 2,
               area: [width, '100%'],
               offset: ['0px', '220px'],
               fixed: false,
               maxmin: true,
               content: 'toEdit.html'
              });
        }

    function delQuota(quotaCode){
           layer.confirm('确认执行该操作？',{icon: 3, title:'删除指标预览'}, function(){
           $.ajax({
                  type: "POST",
                 url:"deleteQuota.html?quotaCode="+quotaCode,
                 dataType:"json",
                 success: function(data) {
                    if(data.code == 1){
                       searchList();
                       closeLayer(data.msg);
                    }else{
                       layer.msg(data.msg,failIcon);
                   }
                }
            });
           }, function(){
            layer.closeAll();
          });
        }
</script>