<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywwl.metric.dal.dao.BoardChartRelMapper" >
  <resultMap id="BaseResultMap" type="org.loxf.metric.dal.po.BoardChartRel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="board_id" property="boardId" jdbcType="VARCHAR" />
    <result column="chart_id" property="chartId" jdbcType="VARCHAR" />
    <result column="chart_order" property="chartOrder" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, board_id, chart_id, chart_order, created_at
  </sql>
  <select id="getChartsByBoardId" resultType="org.loxf.metric.dal.po.Chart" parameterType="java.lang.String" >
    select b.chart_id chartId, b.chart_name chartName, b.chart_desc chartDesc, b.type, b.state
    from board_chart_rel a, chart b where a.chart_id = b.chart_id and a.board_id = #{boardId} order by chart_order
  </select>
  <insert id="insert" parameterType="org.loxf.metric.dal.po.BoardChartRel" >
    insert into board_chart_rel (id, board_id, chart_id, chart_order,
      created_at)
    values (#{id,jdbcType=BIGINT}, #{boardId,jdbcType=VARCHAR}, #{chartId,jdbcType=VARCHAR},#{chartOrder,jdbcType=VARCHAR},
    #{createdAt,jdbcType=TIMESTAMP})
  </insert>
  <delete id="delete" parameterType="java.lang.String" >
    delete from board_chart_rel
    where board_id = #{boardId,jdbcType=VARCHAR}
  </delete>
</mapper>