<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywwl.metric.dal.dao.BoardMapper" >
  <resultMap id="BaseResultMap" type="com.ywwl.metric.dal.po.Board" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="board_id" property="boardId" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="board_name" property="boardName" jdbcType="VARCHAR" />
    <result column="board_desc" property="boardDesc" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, board_id,create_user_id,update_user_id, board_name, board_desc, state, is_deleted, created_at, updated_at
  </sql>
  <sql id="where_sql">
    <if test="boardId != null">
      and board_id = #{boardId,jdbcType=VARCHAR}
    </if>
    <if test="boardName != null">
      and board_name like CONCAT('%',#{boardName},'%')
    </if>
    <if test="createUserId != null">
      and create_user_id = #{createUserId,jdbcType=VARCHAR}
    </if>
  </sql>
  <select id="selectByBoardId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from board
    where board_id = #{boardId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByBoardId" parameterType="java.lang.String" >
    delete from board
    where board_id = #{boardId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ywwl.metric.dal.po.Board" >
    insert into board (id, board_id,create_user_id,update_user_id, board_name,
      board_desc, state, is_deleted, 
      created_at, updated_at)
    values (#{id,jdbcType=BIGINT}, #{boardId,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR},#{updateUserId,jdbcType=VARCHAR}, #{boardName,jdbcType=VARCHAR},
      #{boardDesc,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{isDeleted,jdbcType=TINYINT}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.ywwl.metric.dal.po.Board" >
    update board
    <set >
    <if test="createUserId != null" >
      create_user_id= #{createUserId,jdbcType=VARCHAR},
    </if>
      <if test="updateUserId != null" >
        update_user_id=#{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="boardName != null" >
        board_name = #{boardName,jdbcType=VARCHAR},
      </if>
      <if test="boardDesc != null" >
        board_desc = #{boardDesc,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP}
      </if>
    </set>
    where board_id = #{boardId,jdbcType=VARCHAR}
  </update>

  <select id="listBoard" parameterType="com.ywwl.metric.dal.po.Board" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
     from board where 1=1
    <include refid="where_sql"/>
  </select>
  <select id="countBoard" parameterType="com.ywwl.metric.dal.po.Board"
          resultType="java.lang.Integer">
    select count(1) from board a where 1=1
    <include refid="where_sql"/>
  </select>

</mapper>