<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywwl.metric.dal.dao.ChartMapper" >
  <resultMap id="BaseResultMap" type="com.ywwl.metric.dal.po.Chart" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="chart_id" property="chartId" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="chart_name" property="chartName" jdbcType="VARCHAR" />
    <result column="chart_desc" property="chartDesc" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, chart_id,create_user_id,update_user_id,chart_name, chart_desc, type, state, is_deleted, created_at, updated_at
  </sql>
  <sql id="where_sql">
    <if test="chartId != null">
      and chart_id = #{chartId,jdbcType=VARCHAR}
    </if>
    <if test="chartName != null">
      <bind name="chartName" value="'%'+chartName+'%'"></bind>
      and chart_name like #{chartName,jdbcType=VARCHAR}
    </if>
    <if test="createUserId != null">
      and create_user_id = #{createUserId,jdbcType=VARCHAR}
    </if>
    <if test="type != null and type!=''">
      and type = #{type,jdbcType=VARCHAR}
    </if>
  </sql>
  <select id="selectByChartId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from chart
    where chart_id = #{chartId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByChartId" parameterType="java.lang.String" >
    delete from chart
    where chart_id = #{chartId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ywwl.metric.dal.po.Chart" >
    insert into chart (id, chart_id,create_user_id,update_user_id,chart_name,
      chart_desc, type, state, 
      is_deleted, created_at, updated_at
      )
      values (#{id,jdbcType=BIGINT}, #{chartId,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR},#{updateUserId,jdbcType=VARCHAR}, #{chartName,jdbcType=VARCHAR},
      #{chartDesc,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>

  <select id="listChart" parameterType="com.ywwl.metric.dal.po.Chart" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from chart where 1=1
    <include refid="where_sql"/>
  </select>
  <select id="countChart" parameterType="com.ywwl.metric.dal.po.Chart"
          resultType="java.lang.Integer">
    select count(1) from chart a where 1=1
    <include refid="where_sql"/>
  </select>


  <update id="updateChart" parameterType="com.ywwl.metric.dal.po.Chart" >
    update chart
    <set >
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="chartName != null" >
        chart_name = #{chartName,jdbcType=VARCHAR},
      </if>
      <if test="chartDesc != null" >
        chart_desc = #{chartDesc,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted=  #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="updatedAt != null" >
        updated_at= #{updatedAt,jdbcType=TIMESTAMP}
      </if>
    </set>
    where chart_id = #{chartId,jdbcType=VARCHAR}
  </update>
</mapper>