<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywwl.metric.dal.dao.QuotaMapper" >
  <resultMap id="BaseResultMap" type="com.ywwl.metric.dal.po.Quota" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="quota_id" property="quotaId" jdbcType="VARCHAR" />
    <result column="quota_code" property="quotaCode" jdbcType="VARCHAR" />
    <result column="quota_source" property="quotaSource" jdbcType="VARCHAR" />
    <result column="expression" property="expression" jdbcType="VARCHAR" />
    <result column="quota_name" property="quotaName" jdbcType="VARCHAR" />
    <result column="quota_display_name" property="quotaDisplayName" jdbcType="VARCHAR" />
    <result column="particle_size" property="particleSize" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="show_operation" property="showOperation" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="show_type" property="showType" jdbcType="VARCHAR" />
    <result column="quota_dim" property="quotaDim" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, quota_id, quota_code, quota_source, expression, quota_name, quota_display_name, particle_size,
    type, show_operation, state,update_user_id,create_user_id,show_type, quota_dim, is_deleted, created_at,updated_at
  </sql>
  <select id="selectList" resultMap="BaseResultMap" parameterType="com.ywwl.metric.dal.po.Quota" >
    select
    <include refid="Base_Column_List" />
    from quota
    where is_deleted = 0
    <include refid="Where_Condition_Sql"></include>
    <if test="row>0" >
      limit #{start}, #{row}
    </if>
  </select>
  <select id="queryQuotaNameAndId" resultMap="BaseResultMap" parameterType="com.ywwl.metric.dal.po.Quota" >
    select
    <include refid="Base_Column_List" />
    from quota
    where is_deleted = 0
    <include refid="Where_Condition_Sql"></include>
  </select>

  <select id="count" resultType="java.lang.Integer" parameterType="com.ywwl.metric.dal.po.Quota" >
    select count(1)
    from quota
    where is_deleted = 0
    <include refid="Where_Condition_Sql"></include>
  </select>

  <select id="selectQuota" resultMap="BaseResultMap" parameterType="com.ywwl.metric.dal.po.Quota" >
    select 
    <include refid="Base_Column_List" />
    from quota
    where is_deleted = 0
    <include refid="Where_Condition_Sql"></include>
  </select>

  <sql id="Where_Condition_Sql">
    <if test="quotaId!=null and quotaId!='' ">
      and quota_id = #{quotaId}
    </if>
    <if test="quotaCode!=null and quotaCode!='' ">
      and quota_code = #{quotaCode}
    </if>
    <if test="quotaSource!=null and quotaSource!='' ">
      and quota_source = #{quotaSource}
    </if>
    <if test="quotaName!=null and quotaName!='' ">
      and quota_name like  concat('%',#{quotaName},'%')
    </if>
    <if test="quotaDisplayName!=null and quotaDisplayName!='' ">
      and quota_display_name like concat('%',#{quotaDisplayName},'%')
    </if>
    <if test="particleSize!=null and particleSize!=0 ">
      and particle_size = #{particleSize}
    </if>
    <if test="type!=null and type!=''">
      and type = #{type}
    </if>
    <if test="state!=null and state>=0 ">
      and state = #{state}
    </if>
    <if test="createdAtStart != null and createdAtStart != ''">
      and and created_at >= str_to_date(#{createdAtStart},'%Y-%m-%d %T')
    </if>
    <if test="createdAtEnd != null and createdAtEnd != ''">
      and and created_at &lt;= date_add(str_to_date(#{createdAtEnd},'%Y-%m-%d %T'), interval 1 day)
    </if>
  </sql>

  <insert id="insert" parameterType="com.ywwl.metric.dal.po.Quota" keyProperty="id" useGeneratedKeys="true" >
    insert into quota (quota_id, quota_code,
      quota_source, expression, quota_name, quota_display_name, particle_size,
      type, show_operation, state,update_user_id,create_user_id,show_type, quota_dim, is_deleted, created_at, updated_at)
    values (#{quotaId,jdbcType=VARCHAR}, #{quotaCode,jdbcType=VARCHAR},
    #{quotaSource,jdbcType=VARCHAR}, #{expression,jdbcType=VARCHAR}, #{quotaName,jdbcType=VARCHAR}, #{quotaDisplayName,jdbcType=VARCHAR},
      #{particleSize,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR},
      #{showOperation,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{updateUserId,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, #{showType,jdbcType=VARCHAR}, #{quotaDim,jdbcType=VARCHAR},  #{isDeleted,jdbcType=TINYINT}, now(), now() )
  </insert>
  <update id="update" parameterType="com.ywwl.metric.dal.po.Quota" >
    update quota
    <set >
      <if test="quotaDisplayName != null" >
        quota_display_name = #{quotaDisplayName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="showType != null" >
        show_type = #{showType,jdbcType=VARCHAR},
      </if>
      <if test="showOperation != null" >
        show_operation = #{showOperation,jdbcType=VARCHAR},
      </if>
      <if test="expression != null" >
        expression = #{expression,jdbcType=VARCHAR},
      </if>
      <if test="quotaSource != null" >
        quota_source = #{quotaSource,jdbcType=VARCHAR},
      </if>
      updated_at = now()
    </set>
    where quota_id = #{quotaId}
  </update>

  <select id="queryBySql" resultType="java.util.Map">
    ${sql}
  </select>
  <select id="queryDimenListByChartId" resultType="com.ywwl.metric.dal.po.QuotaDimension">
    SELECT DISTINCT
    b.column_name columnName,
    b.column_code columnCode
    FROM
    chart_quota_rel a,
    quota_dimension b
    WHERE
    a.chart_id = #{chartId}
    AND a.quota_id = b.quota_id
  </select>
  <select id="queryDimenListByBoardId" resultType="com.ywwl.metric.dal.po.QuotaDimension">
    SELECT DISTINCT
    c.column_name columnName,
    c.column_code columnCode
    FROM
    board_chart_rel a,
    chart_quota_rel b,
    quota_dimension c
    WHERE
    a.board_id = #{boardId}
    AND a.chart_id = b.chart_id
    AND b.quota_id = c.quota_id
  </select>
  <select id="queryDimenListByQuotaId" resultType="com.ywwl.metric.dal.po.QuotaDimension">
    SELECT DISTINCT
    c.column_name columnName,
    c.column_code columnCode
    FROM
    quota_dimension c
    WHERE c.quota_id = #{quotaId}
  </select>

  <delete id="deleteByQuotaId" parameterType="java.lang.String" >
    delete from quota
    where quota_id = #{quotaId,jdbcType=VARCHAR}
  </delete>

  <select id="queryDimenListByQuotaCodes" resultType="java.util.Map">
    SELECT DISTINCT a.quota_id quotaId, b.column_code columnCode, b.column_name columnName
    FROM quota a, quota_dimension b
    WHERE
    a.quota_code IN
    <foreach collection="quotaCodes" close=")" open="(" index="index" item="item" separator=",">
      #{item}
    </foreach>
    AND a.quota_id = b.quota_id
    order by a.quota_code
  </select>

  <select id="queryQuotaDependency" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from quota
    where is_deleted = 0
    and expression like CONCAT('%', #{quotaStr}, '%')
  </select>
</mapper>