<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywwl.metric.dal.dao.QuotaScanMapper" >
  <resultMap id="BaseResultMap" type="com.ywwl.metric.dal.po.QuotaScan" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="scan_id" property="scanId" jdbcType="VARCHAR" />
    <result column="quota_id" property="quotaId" jdbcType="VARCHAR" />
    <result column="quota_name" property="quotaName" jdbcType="VARCHAR" />
    <result column="board_id" property="boardId" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="busi_domain" property="busiDomain" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="scan_type" property="quotaScanType" jdbcType="INTEGER" />
    <result column="scan_showname" property="quotaScanShowName" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, scan_id, quota_id, board_id,update_user_id, busi_domain, state,scan_type,scan_showname, is_deleted, created_at, updated_at
  </sql>
  <sql id="where_sql" >
      <if test="quotaScanShowName != null and quotaScanShowName !=''">
        and a.scan_showname like concat('%',#{quotaScanShowName},'%'))
      </if>
      <if test="scanId != null">
        and a.scan_id = #{scanId,jdbcType=VARCHAR}
      </if>
      <if test="quotaScanType != null">
        and a.scan_type = #{quotaScanType,jdbcType=INTEGER}
      </if>
      <if test="busiDomain != null and busiDomain != ''">
        and a.busi_domain = #{busiDomain,jdbcType=VARCHAR}
      </if>
  </sql>

  <select id="listQuotaScan" resultMap="BaseResultMap" parameterType="com.ywwl.metric.dal.po.QuotaScan" >
    select
    (select quota_display_name from quota b where a.quota_id = b.quota_id) quota_name,
    a.*
    from quota_scan a where 1=1
    <include refid="where_sql" />
  </select>
  <select id="countQuotaScan"  resultType="java.lang.Integer" parameterType="com.ywwl.metric.dal.po.QuotaScan" >
    select count(1)
    from quota_scan a where 1=1
    <include refid="where_sql" />
  </select>

  <delete id="deleteByQuotaScanId" parameterType="java.lang.String" >
    delete from quota_scan
    where scan_id = #{scanId,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.ywwl.metric.dal.po.QuotaScan" >
    insert into quota_scan (id, scan_id, quota_id, 
      board_id,update_user_id, busi_domain, state,scan_type,scan_showname,
      is_deleted, created_at, updated_at
      )
    values (#{id,jdbcType=BIGINT}, #{scanId,jdbcType=VARCHAR}, #{quotaId,jdbcType=VARCHAR}, 
      #{boardId,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, #{busiDomain,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER},
      #{quotaScanType,jdbcType=INTEGER}, #{quotaScanShowName,jdbcType=VARCHAR},
      #{isDeleted,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="updateByQuotaScanId" parameterType="com.ywwl.metric.dal.po.QuotaScan" >
    update quota_scan
    <set >
      <if test="scanId != null" >
        scan_id = #{scanId,jdbcType=VARCHAR},
      </if>
      <if test="quotaId != null" >
        quota_id = #{quotaId,jdbcType=VARCHAR},
      </if>
      <if test="boardId != null" >
        board_id = #{boardId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="busiDomain != null" >
        busi_domain = #{busiDomain,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="quotaScanType != null">
        scan_type = #{quotaScanType,jdbcType=INTEGER},
      </if>
      <if test="quotaScanShowName != null" >
        scan_showname = #{quotaScanShowName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where scan_id = #{scanId,jdbcType=VARCHAR}
  </update>
  <select id="listUserQuotaScanRel" resultMap="BaseResultMap">
    select (select quota_display_name from quota c where a.quota_id = c.quota_id)  as quota_name,
    a.* from quota_scan a, user_quota_scan_rel b
    where a.scan_id = b.scan_id and a.state=1
    and b.user_id = #{userId} and a.busi_domain = #{busiDomain}
    order by b.seq limit 0, 11
  </select>
</mapper>