<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywwl.metric.dal.dao.SyncJobMapper" >
  <resultMap id="BaseResultMap" type="com.ywwl.metric.dal.po.SyncJob" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="JOB_CODE" property="jobCode" jdbcType="VARCHAR" />
    <result column="JOB_TYPE" property="jobType" jdbcType="VARCHAR" />
    <result column="JOB_NAME" property="jobName" jdbcType="VARCHAR" />
    <result column="cron" property="cron" jdbcType="VARCHAR" />
    <result column="particle_size" property="particleSize" jdbcType="INTEGER" />
    <result column="clazz" property="clazz" jdbcType="VARCHAR" />
    <result column="data_oper_class" property="dataOperClass" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="last_circle_time" property="lastCircleTime" jdbcType="TIMESTAMP" />
    <result column="run_last_time" property="runLastTime" jdbcType="TIMESTAMP" />
    <result column="first_run_time" property="firstRunTime" jdbcType="TIMESTAMP" />
    <result column="is_init" property="isInit" jdbcType="INTEGER" />
    <result column="data_table" property="dataTable" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, JOB_CODE, JOB_TYPE, JOB_NAME, cron, particle_size, clazz, data_oper_class, status, last_circle_time,
    run_last_time, first_run_time, is_init, data_table, created_at, updated_at
  </sql>
  <select id="selectNotInitedJobs" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sync_job
    where is_init = 0
  </select>
  <select id="getAllJob" resultMap="BaseResultMap" parameterType="com.ywwl.metric.dal.po.SyncJob">
    select
    <include refid="Base_Column_List" />
    from sync_job
    where 1=1
    <include refid="where_sql" />
    order by created_at desc
    limit #{start}, #{row}
  </select>
  <select id="getAllJobCount" resultType="int" parameterType="com.ywwl.metric.dal.po.SyncJob">
    select
    count(1)
    from sync_job
    where 1=1
    <include refid="where_sql" />
  </select>
  <sql id="where_sql">
    <if test="jobCode!=null and jobCode!=''">
      and job_code = #{jobCode}
    </if>
    <if test="jobType!=null and jobType!=''">
      and job_type = #{jobType}
    </if>
  </sql>
  <select id="getJob" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sync_job
    where JOB_CODE = #{jobCode}
  </select>
  <update id="initJob">
    update sync_job set updated_at = now() , is_init = 1 where JOB_CODE = #{jobCode}
  </update>
  <update id="updateJobStatus" parameterType="com.ywwl.metric.dal.po.SyncJob">
    update sync_job set updated_at = now() , status = #{status}
    <if test="lastCircleTime!=null and lastCircleTime!=''">
      , last_circle_time = #{lastCircleTime}
    </if>
    <if test="runLastTime!=null and runLastTime!=''">
      , run_last_time = #{runLastTime}
    </if>
    where JOB_CODE = #{jobCode}
  </update>

  <update id="recoverySyncJob">
    update sync_job set last_circle_time=#{lastCircleTime}, updated_at=now()
    where job_code = #{jobCode}
  </update>

  <update id="updateCron">
    update sync_job set cron = #{cron}, updated_at=now()
    where job_code = #{jobCode}
  </update>
</mapper>