<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywwl.metric.dal.dao.TargetItemMapper" >
  <resultMap id="BaseResultMap" type="com.ywwl.metric.dal.po.TargetItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="target_id" property="targetId" jdbcType="VARCHAR" />
    <result column="quota_id" property="quotaId" jdbcType="VARCHAR" />
    <result column="target_value" property="targetValue" jdbcType="VARCHAR" />
    <result column="operation" property="operation" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="DECIMAL" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, target_id, quota_id, target_value, operation, weight, created_at, updated_at
  </sql>
    <sql id="where_sql">
        <if test="targetId != null and targetId !=''">
            and target_id = #{targetId,jdbcType=VARCHAR}
        </if>
        <if test="startDate != null and startDate !=''">
            and created_at &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate !=''">
            and created_at &lt;= #{endDate}
        </if>
        <if test="quotaId != null and quotaId != ''">
            and quota_id = #{quotaId,jdbcType=VARCHAR}
        </if>
    </sql>

  <insert id="batchInsert" parameterType="java.util.List">
    insert into target_item (target_id, quota_id, target_value, operation, weight, created_at, updated_at)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.targetId},#{item.quotaId},#{item.targetValue},#{item.operation},#{item.weight,jdbcType=DECIMAL},#{item.createdAt},#{item.updatedAt})
    </foreach>
  </insert>

<update id="updateTagetItem" parameterType="com.ywwl.metric.dal.po.TargetItem" >
    update target_item
    <set >
        <if test="targetId != null" >
            target_id = #{targetId,jdbcType=VARCHAR},
        </if>
        <if test="quotaId != null" >
            quota_id = #{quotaId,jdbcType=VARCHAR},
        </if>
        <if test="targetValue != null" >
            target_value = #{targetValue,jdbcType=VARCHAR},
        </if>
        <if test="operation != null" >
            operation = #{operation,jdbcType=VARCHAR},
        </if>
        <if test="weight != null" >
            weight = #{weight,jdbcType=DECIMAL},
        </if>
        <if test="createdAt != null" >
            created_at = #{createdAt,jdbcType=TIMESTAMP},
        </if>
        <if test="updatedAt != null" >
            updated_at = #{updatedAt,jdbcType=TIMESTAMP},
        </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
</update>

<select id="getTargetItemList" resultMap="BaseResultMap" parameterType="com.ywwl.metric.dal.po.TargetItem" >
    select
    <include refid="Base_Column_List" />
    from target_item
    where 1=1
    <include refid="where_sql" />
</select>
<delete id="deleteByTargetId" parameterType="java.lang.String" >
    delete from target_item
    where target_id = #{targetId,jdbcType=VARCHAR}
</delete>

</mapper>