<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywwl.metric.dal.dao.TargetMapper" >
  <resultMap id="BaseResultMap" type="com.ywwl.metric.dal.po.Target" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="target_id" property="targetId" jdbcType="VARCHAR" />
    <result column="target_name" property="targetName" jdbcType="VARCHAR" />
    <result column="target_desc" property="targetDesc" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="busi_domain" property="busiDomain" jdbcType="VARCHAR" />
    <result column="target_start_time" property="targetStartTime" jdbcType="TIMESTAMP" />
    <result column="target_end_time" property="targetEndTime" jdbcType="TIMESTAMP" />
    <result column="board_id" property="boardId" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, target_id, target_name, target_desc,create_user_id, state, busi_domain, target_start_time, target_end_time,
    board_id, is_deleted, created_at, updated_at
  </sql>
  <sql id="where_sql">
    <if test="targetId != null">
      and target_id = #{targetId,jdbcType=VARCHAR}
    </if>
    <if test="targetName != null">
        and target_name like CONCAT('%',#{targetName},'%')
    </if>
    <if test="createUserId != null">
      and create_user_id = #{createUserId,jdbcType=VARCHAR}
    </if>
  </sql>

  <insert id="insert" parameterType="com.ywwl.metric.dal.po.Target" >
    insert into target (id, target_id, target_name, 
      target_desc,create_user_id, state, busi_domain,
      target_start_time, target_end_time, board_id, 
      is_deleted, created_at, updated_at
      )
    values (#{id,jdbcType=BIGINT}, #{targetId,jdbcType=VARCHAR}, #{targetName,jdbcType=VARCHAR}, 
      #{targetDesc,jdbcType=VARCHAR},  #{createUserId,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{busiDomain,jdbcType=VARCHAR},
      #{targetStartTime,jdbcType=TIMESTAMP}, #{targetEndTime,jdbcType=TIMESTAMP}, #{boardId,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="update" parameterType="com.ywwl.metric.dal.po.Target" >
    update target
    <set >
      <if test="targetId != null" >
        target_id = #{targetId,jdbcType=VARCHAR},
      </if>
      <if test="targetName != null" >
        target_name = #{targetName,jdbcType=VARCHAR},
      </if>
      <if test="targetDesc != null" >
        target_desc = #{targetDesc,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="busiDomain != null" >
        busi_domain = #{busiDomain,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="targetStartTime != null" >
        target_start_time = #{targetStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="targetEndTime != null" >
        target_end_time = #{targetEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="boardId != null" >
        board_id = #{boardId,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where target_id = #{targetId,jdbcType=VARCHAR}
  </update>

  <delete id="delete" parameterType="java.lang.String" >
    delete from target
    where target_id = #{targetId,jdbcType=VARCHAR}
  </delete>

  <select id="listTarget" parameterType="com.ywwl.metric.dal.po.Target" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from target where 1=1
    <include refid="where_sql"/>
  </select>
  <select id="countTarget" parameterType="com.ywwl.metric.dal.po.Target"
          resultType="java.lang.Integer">
    select count(1) from target a where 1=1
    <include refid="where_sql"/>
  </select>
  <select id="listTargetByUser" resultMap="BaseResultMap">
    SELECT a.*
    FROM
    target a,
    target_notice_user b
    WHERE
    a.target_id = b.target_id
    <if test="busiDomain!=null and busiDomain!=''">
      and a.busi_domain = #{busiDomain}
    </if>
    AND b.obj_type = #{objType}
    AND b.obj_id = #{objId}
    AND a.target_start_time &lt; str_to_date(#{endCircleTime},'%Y-%m-%d %T')
    AND a.target_end_time > str_to_date(#{startCircleTime},'%Y-%m-%d %T')
  </select>
</mapper>