<script src="${rc.contextPath}/_resources/js/plugins/layer/laydate/laydate.js"></script>
 <div class="ibox-content">
    <form id="form1" role="form" class="form-inline">
       <div class="form-group">
        <label>广告名称:</label><input type="text" id="advertName" class="form-control">
        <label>子广告名称:</label><input type="text" id="advertMaName" class="form-control">
        <label>渠道名称:</label><input type="text" id="channelName" class="form-control">
    </div>
    </br>
   <div class="form-group">
     <label>时间范围</label>
     <input class="form-control layer-date" id="startDate" placeholder="开始时间" value="$!{startDate}" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})">
     <input class="form-control layer-date" id="endDate" placeholder="结束时间" value="$!{endDate}" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})">
     <button class="btn btn-white" type="button" onclick="searchList('1')"><i class="glyphicon glyphicon-search"></i>查询</button>
     <button class="btn btn-info" type="button" onclick="exportData()"><i class="glyphicon glyphicon-export"></i>导出</button>
  </div>
    </form>
  </div>
  <div class="jqGrid_wrapper ">
     <table id="table_list_1"></table>
     <div id="pager_list_1"></div>
  </div>
<script>
    function searchList(page){
         $("#table_list_1").jqGrid('setGridParam',{
              url:'dataUpJson.html?'+getParams(),
              page:page
         }).trigger("reloadGrid");
    }
    function getParams(){
        var advertName=$("#advertName").val();
        var advertMaName=$("#advertMaName").val();
        var channelName=$("#channelName").val();
        var startDate=$("#startDate").val();
        var endDate=$("#endDate").val();
        if("" != endDate){
           endDate = endDate + ' 23:59:59';
        }
        return "advertName="+advertName+"&advertMaName="+advertMaName+"&channelName="+channelName+"&startDate="+startDate+"&endDate="+endDate;
    }
   $(document).ready(function () {
       $.jgrid.defaults.styleUI = 'Bootstrap';
       $('#table_list_1').jqGrid({
              url:'dataUpJson.html?'+getParams(),
              datatype: "json",
              height: jqGridHeight,
              autowidth: true,
              shrinkToFit: true,
              rowNum: 20,
              rowList: [20, 30, 50],
              viewrecords : true,
              colNames: ['日期','广告名称','子广告名称','用户名','真实姓名','渠道名称','渠道编号','业务员','数值类型（上游）','数值（上游）','单价/比例（上游）','收入（上游）'
                  ,'数值类型（下游）','数值（下游）','单价/比例（下游）','收入（下游）','毛利润'],
              colModel: [
                 {
                    name: 'reportDateStr',
                    width: 12
                 },
                 {
                    name: 'advertName',
                    width: 10
                 },
                 {
                    name: 'advertMaName',
                    width: 10
                 },
                  {
                      name: 'userName',
                      width: 10
                  },{
                      name: 'realName',
                      width: 10
                  },
                 {
                    name: 'channelName',
                    width: 10
                  },
                  {
                     name: 'channelNo',
                     width: 10
                   },
                   {
                    name: 'businessName',
                    width: 10
                  },
                  {
                      name: 'flowTypeNameUp',
                      width: 10
                  },
                  {
                      name: 'flowTypeNumUp',
                      width: 10
                  },
                  {
                      name: 'settleTypeNumUpStr',
                      width: 10
                  },
                  {
                      name: 'incomeUp',
                      width: 10
                  },
                   {
                    name: 'flowTypeName',
                    width: 10
                  },
                  {
                      name: 'flowTypeNum',
                      width: 10
                  },
                  {
                      name: 'settleTypeNumStr',
                      width: 10
                  },
                  {
                    name: 'income',
                    width: 10
                  },
                  {
                      name: 'profit',
                      width: 10
                  }
              ],
              pager: "#pager_list_1"
         });
   });

    function exportData(){
       window.location.href="exportUp.html?"+getParams();
    }
</script>
</html>